/*mobile to tablet*/
@media screen and (max-width: 450px) {

    #portfolio-name {
        font-size: 2em;
        padding: 0.25em 0 0 0;
    }

    .tile-img {
        max-width: 150px;
    }
}

/*tablet to desktop*/
@media screen and (min-width: 451px) and (max-width: 849px) {

    .header-box {
        height: 50px;
        padding-bottom: 1em;
    }

    #codepen-icon, #github-icon, #linkedin-icon {
        font-size: 100%;
    }

    .text-box {
        font-size: 1em;
        text-align: center;
    }

    .tile-box {
        order: 3;
        margin: 1em 2em 2em 1em;
    }

    .tile-img {
        max-width: 150px;
    }
}

/*desktop*/
@media screen and (min-width: 850px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-box {
        height: 50px;
        padding-bottom: 1em;
    }

    #codepen-icon, #github-icon, #linkedin-icon {
        font-size: 100%;
    }

    .image-box {
        width: 100%;
    }

    #container-two {
        width: 100%;
    }

    .text-box {
        font-size: 1.5em;
        text-align: center;
    }
}

/*Ugh tiny phones. My icons didn't work AT ALL on the Galaxy S5 emulator so I went ahead and adjusted
for all ant-sized screens*/
@media screen and (max-width: 375px) {
    #codepen-icon, #github-icon, #linkedin-icon {
        font-size: 40%;
        padding: 2em 1em 0.5em 0;
    }
}