/*ensures that the content goes all the way to the edges*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*
* header
* I'd like to fix this navbar in place when scrolling eventually
*/
.header-box {
    width: 100%;
    background-color: black;
}

#logo {
    margin: 15px;
    vertical-align: top;
}

#portfolio-name {
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 3em;
    display: inline-block;
}

#codepen-icon, #github-icon, #linkedin-icon {
    font-size: 75%;
    display: inline-block;
    float: right;
    padding: 1em 0.5em 0 0.5em;
    cursor: pointer;
}

/*
* portfolio image - landscape layout
*/
.image-box {
    width: 100%;
}

#portfolio-image {
    width: 100%;
}

/*
* the text content
*/
.text-box {
    width: 100%;
    padding: 0.5em 1em;
}

/*
* projects
*/
.tile-box {
    width: 100%;
}

.tile {
    width: 50%;
    display: flex;
    justify-content: center;
}

.tile-title {
    text-align: center;
}
